<ion-content>

  <ion-card class="content">
    <img alt="{{manga.name_manga}}" src="{{manga.cover_manga}}" />
    <ion-card-header>
      <ion-card-title>{{manga.name_manga}}</ion-card-title>
      <ion-card-subtitle>{{manga.genre_manga}}</ion-card-subtitle>
      <ion-item>
        <ion-badge [color]="manga.status_manga == 'Finished' ? 'danger' : 'success'">{{manga.cap_manga}}</ion-badge>
        Status: {{manga.status_manga}}
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      <p>Debuted in: {{formatDate(manga.debut_manga)}}</p>
      <p>Made by: {{manga.name_author}}</p>
      <ion-button (click)="toggleSaved()">
        <ion-icon [name]="saved ? 'heart' : 'heart-outline'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
