<ion-content>
  <ion-card class="card">
    <div class="info">
      <div>
        <img class="avatar" src="https://static.wikia.nocookie.net/jujutsu-kaisen/images/7/79/Yuta_Okkotsu_%28Chapter_137%29.png/revision/latest?cb=20210201190010" alt="avatar">
      </div>
      <div class="info">
        <div class="flex-container">
          <div class="flex-div">
            <p>Name</p>
            <input type="text" class="form" value="{{user}}" >
          </div>
          <div class="flex-div">
            <p>Email</p>
            <input type="text" class="form" value="{{user}}" >
          </div>
        </div>
      </div>
    </div>

    <div class="likes">
      <div class="divider"></div>
      <h4>Likes</h4>
      <ion-segment [scrollable]="true">
        <div class="list" *ngFor="let l of list; let i = index">
          <ion-card>
            <img class="mangas" src="{{l.cover}}" alt="anime" />
          </ion-card>
        </div>
      </ion-segment>
    </div>

  </ion-card>
</ion-content>
