ion-header{
    padding: 1rem 0;
    --background:var(--ion-background-color) ;
}
ion-toolbar{
    --background:var(--ion-background-color) ;
    
}
ion-toolbar > *{
    margin: 0 1rem;
}
ion-button{
    --background:#B0F2B4;
    --color:#1D1D1D;
}
ion-avatar{
    cursor: pointer;
}