<ion-content>
  <div class="main">
    <div id="container">
      <h1>Wiki Manga</h1>
      <p>Sign Up</p>
      <div class="buttons">
        
       
        <form [formGroup]="signUpForm"> 
          <ion-item>
            <ion-label  position="floating">Username</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="pass" type="password"></ion-input>
          </ion-item>

          <ion-button shape="round" class="signin" [routerLink]="['/signup']" (click)="register()"
            >Register</ion-button
          >

          <div *ngIf="signUpSuccess" style="color:aqua">
            <p>Registration successful!</p>
            <p>&darr;</p>
          </div>
        </form>
        
        <div>
          <p>Already have an account?</p>
          <ion-button shape="round" class="login" [routerLink]="['/login']">Login</ion-button>
        </div>
        
        <!-- 
          
        -->

      </div>
    </div>
  </div>
  <div class="c-background">
    <img class="background" src="../../assets/background.png" alt="background">
  </div>
</ion-content>
