<ion-content>
  <div class="main">
    <div id="container">
      <h1>Wiki Manga</h1>
      <p>Read, read and keep reading</p>
      <div class="buttons">
        <ion-button shape="round" fill="outline" [routerLink]="['/login']"
          >Login</ion-button
        >
        <ion-button shape="round" class="signin" [routerLink]="['/signup']"
          >Signup</ion-button
        >
      </div>
    </div>
  </div>
  <div class="c-background">
    <img class="background" src="../../assets/background.png" alt="background">
  </div>
</ion-content>
